* {
    margin: 0px;
    padding: 0px;
}


 header {
    padding: 20px 35px;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    

}

