* {
    margin: 0px;
    padding: 5px;
}

 /* header start */
header {
    padding: 20px 35px;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

header nav ul {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header h1 a {
    font-size: 22px;
}

header li {
    font-size: 18px;
} 
/* header end */

.results-container {
    flex-direction: column;

}

.results-container-2 {
    flex-direction: column;

}

.description {
    text-align: center;
    font-size: 18px;
}

input {
    width: 200px;
    height: 30px;
}

.form-input {
    margin-left: 5px;
}

.card-header {
    margin-left: 5px;
}

/* search start */
.search {
    background-color: black;
    color: #485fc7;
    font-size: 15px;
    padding: 10px 32px;
    border-radius: 9999px;
    border: 1px solid black;
} 

.search:hover {
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
} 
/* search end */

footer {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #485fc7;
}

.flex-wrapper {
    margin-bottom: 45px;
}
