* {
    margin: 0px;
    padding: 0px;
}


 header {
    padding: 20px 35px;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

header nav ul {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.results-container {
    flex-direction: column;

}

.results-container-2 {
    flex-direction: column;

}

<<<<<<< HEAD
.description {
    text-align: center;
    font-size: 18px;
}

input {
    width: 200px;
}

header h1 a {
    font-size: 22px;
}

header li {
    font-size: 18px;
}

=======
>>>>>>> develop
